@model IEnumerable<DatabaseLayer.BookTable>

@{
    ViewBag.Title = "All Books";
}


<p>
    @Html.ActionLink("New Book", "Create",null,new { @class="btn btn-success"})
</p>
<table class="table table-hover">
    <tr>
        <th>
           BookTitle
        </th>
        <th>
           ShortDescription
        </th>
        <th>
            BookName
        </th>
        <th>
           Edition
        </th>
        <th>
            Book Type
        </th>
        <th>
            Department
        </th>
        <th>
           User
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookTypeTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.UserName)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id = item.BookID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.BookID }, new { @class = "btn btn-default" }) 

        </td>
    </tr>
}

</table>
